*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: #c4b3bb;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 20px;
    text-align: center;
    
    
}
#dashboardCont{
    margin-top: 40px;
    margin: 0 auto;
}
.login_label{
    margin-bottom: 10px;
}
.token_input{
    text-align: center;
    margin-bottom: 10px;
}
#inputToken{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}
#header {
    height: 50px;
    width: 80%;
    top:25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
}
#eventContainer{
    margin-top: 80px;
    padding: 20px;
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
#listevent{
    height: 100px;
    border: 1px solid;
    word-wrap: break-word;
    margin: 10px;
    width: 33%;
    cursor: pointer;
    
}
#createcontainer {
    width: 80%;
    height: 70%;
    border: 1px solid;
    text-align: center;
    padding: 100px;
    display: none;

}
#commonInput{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#eventdetailcontainer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 70%;
    text-align: center;
    
}
